<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <title>My YouTube Video</title>
  <style>
    .embed-responsive {
      position: relative;
      height: 0;
      padding-bottom: 56.25%;
    }
    .embed-responsive-item {
      position: absolute;
      top: 0; left: 0; bottom: 0; right: 0;
      width: 100%; height: 100%;
    }
  </style>
</head>
<body ng-controller="MyCtrl">

  <div class="embed-responsive">
    <youtube-video 
      video-id="videoId" 
      player="player" 
      player-width="'100%'" 
      player-height="'100%'">
    </youtube-video>
  </div>

  <button ng-click="player.playVideo()">Play</button>
  <button ng-click="player.pauseVideo()">Pause</button>

  <!-- Load Angular, YouTube API, and the directive -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="https://www.youtube.com/iframe_api"></script>
  <script src="node_modules/angular-youtube-embed/dist/angular-youtube-embed.min.js"></script>
  <script src="app.js"></script>
</body>
</html>   
